.star-rating-container {
  display: flex;
  flex-direction: row;
  .reviews-link {
    font-size: 12px;
    padding-left: 4px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
