.overview-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header header'
    'full-gallery full-gallery full-gallery full-gallery product-information product-information'
    'product-overview product-overview product-overview product-overview product-overview product-overview';
  .header {
    grid-area: header;
  }
  .full-gallery-container {
    grid-area: full-gallery;
    display: flex;
    flex-direction: row;
    .thumbnails {
    }
    .image-gallery {
    }
  }
  .product-information-container {
    grid-area: product-information;
    display: flex;
    flex-direction: column;
    .star-rating {
    }
    .product-information {
    }
    .style-selector {
    }
    .shopping-cart {
    }
  }
  .product-overview {
    grid-area: product-overview;
  }
}
