.overview-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header header header header header'
    'image-gallery image-gallery image-gallery image-gallery product-information product-information'
    'product-overview product-overview product-overview product-overview product-overview product-overview';
  .header {
    grid-area: header;
  }
  .image-gallery {
    grid-area: image-gallery;
    height: 36rem;
    margin-bottom: 2rem;
  }
  .product-information-container {
    grid-area: product-information;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .star-rating {
    }
    .product-information {

    }
    .style-selector {
    }
    .shopping-cart {
    }
  }
  .product-overview {
    grid-area: product-overview;
  }
}
