.style-selector-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  .selected-style {
    padding-bottom: 16px;
    .style {
      font-weight: 700;
    }
    .current-style-name {
      text-transform: uppercase;
    }
  }
  .style-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 25px;
    column-gap: 25px;
    width: 66%;
    .style-image-container {
      position: relative;
      .style-image {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 66px;
        height: 66px;
        img {
          object-fit: cover;
          cursor: pointer;
          width: 100%;
          height: 100%;
        }
      }
      .checkmark {
        left: 72%;
        bottom: 72%;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-size: cover;
        background-color: white;
        background-image: url('../../../assets/check-mark.svg');
      }
    }
  }
}
